.footer{
    position: fixed;
    bottom: 0;
}

html {
    height: 100%;
 }
 
 body {
    min-height: 100%;
 }

 .botonera{
    padding-bottom: 6rem;
 }

 .enlace{
   width: 100%;
   height: 100%;
 }

 a, a:hover, a:focus, a:active {
   text-decoration: none;
   color: inherit;
 }